<div class="category">
  <h3>Popular (this is an example of the catagories we can have)</h3>
  <div class="plant-grid">
    <div class="plant-item">
      <image src="https://www.ikea.com/us/en/images/products/fejka-artificial-potted-plant-with-pot-in-outdoor-succulent__0713357_PE729413_S5.JPG" alt="plant">
    </div>
  </div>
</div>