<div id="loginForm">
  <form action='/login' method="post">
    <div class="form-item">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Enter your email" />
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input type="password" name='password' placeholder="Enter your password" />
    </div>
    <div class="form-item">
      <button class="active" type="submit">Login</button>
    </div>
  </form>
</div>
