<div id="loginForm">
  <form action='/login' method="post">
    <div class="form-item">
      <label for="identifier">Username</label>
      <input type="text" name="identifier" placeholder="Enter your username" />
    </div>
    <div class="form-item">
      <button class="active" type="submit">Enter</button>
    </div>
  </form>
</div>
