<header class="header">
  <div class="logo-side">
    <i class="fa-sharp fa-solid fa-seedling"></i>
    <a class="logo" href="/">Plant Viewer</a>
  </div>
  <nav class="navbar">
    <% if (showSearch === true) { %>
      <div class="search-input-navbar">
        <i class="fas fa-search"></i>
        <input
          type="text"
          id="searchNavbar"
          placeholder="Search"
          class="search-input-section"
        />
      </div>
    <% } %>
    <img class="profile-icon" src="/images/big.jpg" alt="profile" />
  </nav>
</header>
