<header class="header">
  <a class="logo" href="/">Plant Viewer</a>
  <nav class="navbar">
    <input
      type="text"
      id="searchNavbar"
      class="search-input-navbar"
      placeholder="Search"
    />
    <img class="profile-icon" src="/images/big.jpg" alt="profile" />
  </nav>
</header>

