<header class="header">
  <div class="logo-side">
    <i class="fa-sharp fa-solid fa-seedling"></i>
    <a class="logo" href="/main">Plant Viewer</a>
  </div>
  <nav class="navbar">
    <a href="/user">
        <img class="profile-icon" src="/images/avatar.png" alt="profile" />
    </a>
  </nav>
</header>
