<div class="plant-information-container">
  <div class="image-side">
    <img src="/images/peashooter.png" alt="plant" />
  </div>
  <div class="information-side">
    <div class="plant-information">
      <h3>Peashooter</h3>
      <p>Look at how cute this plant is</p>
      <h3>Creator of post goes here</h3>
    </div>
    <div class="comment">
      <input type="text" placeholder="Comment" />
    </div>
  </div>
</div>