<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8adee5f06e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Add Plant</title>
  </head>
  <body>
    <% include components/navbar.ejs %>
    <div class="add-plant-container">
      <div class="add-plant-left">
        <form>
          <div class="image-container">
            <input type="file" class="image-file" id="imageFile" />
            <label for="imageFile" class="image-label">Drag and drop or click here to upload an image</label>
          </div>
          <div class="item">
            <label for="plantName">Plant name</label>
            <input
              type="text"
              id="plantName"
              placeholder="Enter the plant name"
            />
          </div>
          <div class="item">
            <label for="time" class="plant-time">Time</label>
            <input type="datetime" id="time" value="<%= dateTime %>" readonly />
          </div>
          <div class="item">
            <label for="location" class="plant-location">Location</label>
            <input
              type="text"
              id="location"
              placeholder="Enter the plant location"
            />
          </div>
        </form>
      </div>
      <div class="add-plant-right">
        <form>
          <div class="item">
            <label for="plantSize" class="plant-size">Plant size</label>
            <input
              type="text"
              id="plantSize"
              placeholder="Enter the plant size"
            />
          <label for="categories" class="plant-categories"
            >Categories (Characteristics)</label
          >
          <input
            type="text"
            id="categories"
            placeholder="Enter the plant categories"
          />
          </div>
          <div class="item">
            <label for="plantDescription" class="plant-description">Description</label>
            <textarea
              id="plantDescription"
              placeholder="Enter the plant description"
            >
            </textarea>
          </div>
        </form>
      </div>
    </div>
    <script src="/javascripts/imageUpload.js"></script>
  </body>
</html>
