<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <% include components/navbar %>
    <div class="container flex">
      <div class="login-page-content">
        <h1><%= title %></h1>
        <p>Discover the world of plants</p>
        <div class="form-buttons">
          <button id="loginButton" class="active" onclick="handleCredentialsFormSwitch()">Login</button>
          <button id="signupButton" onclick="handleCredentialsFormSwitch()">Signup</button>
        </div>
      </div>
      <% include components/signupform %> 
      <% include components/loginform %>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
