<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script
      src="https://kit.fontawesome.com/8adee5f06e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <% include components/navbar %>
    <div class="login-container">
      <h1><%= title %></h1>
      <p>Discover the world of plants</p>
      <div id="loginForm">
        <form action="/login" method="post">
          <div class="form-item">
            <label for="identifier">Username</label>
            <input type="text" name="identifier" id="username" placeholder="Enter your username" />
          </div>
          <div class="form-item">
            <button class="active" type="submit" onclick="setUsername()">Enter</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/login.js"></script>

  </body>
</html>
