<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8adee5f06e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Main</title>
  </head>
  <body>
    <% include components/navbar.ejs %>
    <div class="main-page-container flex">
      <h1>Explore plants</h1>
      <div class="category-links">
        <button class="category-link" data-category="all">All</button>
        <% categoryData.forEach(function(category) { %>
        <button class="category-link" data-category="<%= category %>">
          <%= category %>
        </button>
        <% }); %>
      </div>
      <% include components/plantgrid.ejs %>
    </div>

    <div id="addPlantOverlay" class="overlay">
      <div class="overlay-content-add"></div>
    </div>

    <div id="overlay" class="overlay">
      <div class="overlay-content-view"></div>
    </div>

    <button
      id="addPlantButton"
      class="add-plant-button"
      onclick="window.location.href='/addplant';"
    >
      Add Plant
    </button>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js", { scope: "/" });
    }
  </script>
  <script src="/javascripts/overlay.js"></script>
  <script src="/javascripts/switchCategory.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="/javascripts/chat.js"></script>
</html>
