<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
        src="https://kit.fontawesome.com/8adee5f06e.js"
        crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>User Account</title>
</head>
<body>
    <% include components/navbar.ejs %>
    <div class="user-page-content">
        <div class="user-information">
            <div class="profile-picture">
                <img src="<%= user.avatar %>" alt="User Avatar">
            </div>
            <div class="username-email">
                <h1>Welcome <%= user.username %>!</h1>
                <p><strong>Email:</strong> <%= user.email %></p>
            </div>
        </div>
        <div class="user-posts">
            <h2>Posts</h2>
        </div>
    </div>
</body>
</html>
