<!DOCTYPE html>
<html lang="en">
<head>
    <script
            src="https://kit.fontawesome.com/8adee5f06e.js"
            crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>User Account</title>
</head>
<body>
<h1>Welcome <%= user.username %>!</h1>
<div>
    <h2>User Information</h2>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Avatar:</strong> <img src="<%= user.avatar %>" alt="User Avatar"></p>
</div>
<div>
    <h2>Additional Information</h2>
</div>
</body>
</html>
