body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  font-weight: 800;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #F4F0E5;
  color: black;
  border-radius: 5px;
  margin: 0 10px;
  height: auto;

  &:hover {
    background-color: #289966;
    color: white;
  }
}

.active {
  background-color: #289966;
  color: white;
}

.login-container {
  justify-content: center;
  align-items: center;

  form {
      align-self: flex-start;
    }

  .form-buttons {
    display: flex;
    justify-content: center;
    align-self: center;

    button {
      flex: 1;
    }

  }
}

.form-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vh 0vh;

  input {
    border-color: #AA9163;
    border-radius: 25%;
    border-width: 2px;
  }
}