body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #289966;
}

.btn-custom-active {
  background-color: #289966;
  border-color: #289966;
  color: #fff;
}

.btn-custom-inactive {
  background-color: #fff;
  border-color: #289966;
  color: #289966;
}